<template name="addEnemy">

  <ul class="dropdown-menu">
    <li><form>
        <input type="hidden" name="enemyName" value="Grunt">
        <input type="hidden" name="enemyHealth" value="5">
        <input type="hidden" name="enemyStrength" value="1">
        <input type="submit" value="Add Grunt">
      </form></li>
    <li><a href="#">Brute</a></li>
    <li><a href="#">Jackle</a></li>
    <li><a href="#">New Enemy</a></li>
  </ul>

  <!-- <div class="row enemies">
    <div class="col-sm-12 new-enemy">
      <form>
        <input type="text" name="enemyName" placeholder="Name">
        <input type="text" name="enemyHealth" placeholder="HP">
        <input type="text" name="enemyStrength" placeholder="Strength">
        <input type="submit" value="Add Enemy">
      </form>
    </div>
  </div>
  <div class="row enemies">
    <div class="col-sm-4">
      <form>
        <input type="hidden" name="enemyName" value="Grunt">
        <input type="hidden" name="enemyHealth" value="5">
        <input type="hidden" name="enemyStrength" value="1">
        <input type="submit" value="Add Grunt">
      </form>
    </div>
    <div class="col-sm-4">
      <form>
        <input type="hidden" name="enemyName" value="Brute">
        <input type="hidden" name="enemyHealth" value="8">
        <input type="hidden" name="enemyStrength" value="3">
        <input type="submit" value="Add Brute">
      </form>
    </div>
    <div class="col-sm-4">
      <form>
        <input type="hidden" name="enemyName" value="Jackle">
        <input type="hidden" name="enemyHealth" value="10">
        <input type="hidden" name="enemyStrength" value="4">
        <input type="submit" value="Add Jackle">
      </form>
    </div>
  </div> -->
</template>