<template name="players">

  <div class="col-sm-9">
    <div class="card">
      <ul class="nav nav-tabs">
        {{#each player}}
          <li class="player"><a href="#tab{{name}}" data-toggle="tab">{{name}}</a></li>
        {{/each}}
      </ul>
      <div class="tab-content row">
        {{#each player}}
          <div class="tab-pane" id="tab{{name}}">
            <div class="table-responsive col-sm-4">
              <table class="table">
                <tbody>
                  <tr>
                    <td>HP: </td>
                    <td class="stat-value">{{health}}</td>
                    {{#if showPlayerModifiers}}
                      <td><button class="playerIncrement btn-link" value="health">&nbsp;+&nbsp;</button></td>
                      <td><button class="playerDecrement btn-link" value="health">&nbsp;-</button></td>
                    {{/if}}
                  </tr>
                  <tr>
                    <td>Amour: </td>
                    <td class="stat-value">{{amour}}</td>
                    {{#if showPlayerModifiers}}
                      <td><button class="playerIncrement btn-link" value="amour">&nbsp;+&nbsp;</button></td>
                      <td><button class="playerDecrement btn-link" value="amour">&nbsp;-</button></td>
                    {{/if}}
                  </tr>
                  <tr>
                    <td>Strength: </td>
                    <td class="stat-value">{{strength}}</td>
                    {{#if showPlayerModifiers}}
                      <td><button class="playerIncrement btn-link" value="strength">&nbsp;+&nbsp;</button></td>
                      <td><button class="playerDecrement btn-link" value="strength">&nbsp;-</button></td>
                    {{/if}}
                  </tr>
                  <tr>
                    <td>Intelligence: </td>
                    <td class="stat-value">{{intelligence}}</td>
                    {{#if showPlayerModifiers}}
                      <td><button class="playerIncrement btn-link" value="intelligence">&nbsp;+&nbsp;</button></td>
                      <td><button class="playerDecrement btn-link" value="intelligence">&nbsp;-</button></td>
                    {{/if}}
                  </tr>
                  <tr>
                    <td>Dexterity: </td>
                    <td class="stat-value">{{dexterity}}</td>
                    {{#if showPlayerModifiers}}
                      <td><button class="playerIncrement btn-link" value="dexterity">&nbsp;+&nbsp;</button></td>
                      <td><button class="playerDecrement btn-link" value="dexterity">&nbsp;-</button></td>
                    {{/if}}
                  </tr>
                  <tr>
                    <td>Accuracy: </td>
                    <td class="stat-value">{{accuracy}}</td>
                    {{#if showPlayerModifiers}}
                      <td><button class="playerIncrement btn-link" value="accuracy">&nbsp;+&nbsp;</button></td>
                      <td><button class="playerDecrement btn-link" value="accuracy">&nbsp;-</button></td>
                    {{/if}}
                  </tr>
                  <tr>
                    <td>Melee: </td>
                    <td class="stat-value">{{melee}}</td>
                    {{#if showPlayerModifiers}}
                      <td><button class="playerIncrement btn-link" value="melee">&nbsp;+&nbsp;</button></td>
                      <td><button class="playerDecrement btn-link" value="melee">&nbsp;-</button></td>
                    {{/if}}
                  </tr>
                  <tr>
                    <td>Brawling: </td>
                    <td class="stat-value">{{brawling}}</td>
                    {{#if showPlayerModifiers}}
                      <td><button class="playerIncrement btn-link" value="brawling">&nbsp;+&nbsp;</button></td>
                      <td><button class="playerDecrement btn-link" value="brawling">&nbsp;-</button></td>
                    {{/if}}
                  </tr>
                  <tr>
                    <td>Perception: </td>
                    <td class="stat-value">{{perception}}</td>
                    {{#if showPlayerModifiers}}
                      <td><button class="playerIncrement btn-link" value="perception">&nbsp;+&nbsp;</button></td>
                      <td><button class="playerDecrement btn-link" value="perception">&nbsp;-</button></td>
                    {{/if}}
                  </tr>
                  <tr>
                    <td>Itimidation: </td>
                    <td class="stat-value">{{intimidation}}</td>
                    {{#if showPlayerModifiers}}
                      <td><button class="playerIncrement btn-link" value="intimidation">&nbsp;+&nbsp;</button></td>
                      <td><button class="playerDecrement btn-link" value="intimidation">&nbsp;-</button></td>
                    {{/if}}
                  </tr>
                  <tr>
                    <td>Wisdom: </td>
                    <td class="stat-value">{{wisdom}}</td>
                    {{#if showPlayerModifiers}}
                      <td><button class="playerIncrement btn-link" value="wisdom">&nbsp;+&nbsp;</button></td>
                      <td><button class="playerDecrement btn-link" value="wisdom">&nbsp;-</button></td>
                    {{/if}}
                  </tr>
                  <tr>
                    <td>Charisma: </td>
                    <td class="stat-value">{{charisma}}</td>
                    {{#if showPlayerModifiers}}
                      <td><button class="playerIncrement btn-link" value="charisma">&nbsp;+&nbsp;</button></td>
                      <td><button class="playerDecrement btn-link" value="charisma">&nbsp;-</button></td>
                    {{/if}}
                  </tr>
                  <tr>
                    <td>Constitution: </td>
                    <td class="stat-value">{{constitutuion}}</td>
                    {{#if showPlayerModifiers}}
                      <td><button class="playerIncrement btn-link" value="constitutuion">&nbsp;+&nbsp;</button></td>
                      <td><button class="playerDecrement btn-link" value="constitutuion">&nbsp;-</button></td>
                    {{/if}}
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-8">
              <div class="row">
                {{#each item}}
                  <div class="col-sm-4 top-buffer bottom-buffer">
                    {{name}}
                    <ul class="item-stats">
                      <li>Damage: {{damage}}</li>
                      <li>Bonus: {{bonus}}</li>
                    </ul>
                  </div>
                {{/each}}
                <div class="col-sm-4 top-buffer bottom-buffer">11111111111</div>
                <div class="col-sm-4 bottom-buffer">11111111111</div>
                <div class="col-sm-4 bottom-buffer">11111111111</div>
                <div class="col-sm-4 bottom-buffer">11111111111</div>
                <div class="col-sm-4 bottom-buffer">11111111111</div>
                <div class="col-sm-4 bottom-buffer">11111111111</div>
                <div class="col-sm-4 bottom-buffer">11111111111</div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

</template>
