.player-list .player {
  width: 20%;
  float: left;
}

.nav-tabs {
  li {
    background-color: #F4F4F4;
    margin-bottom: 0;
  }
  a {
    color: #2c3e50;
    font-weight: 300;
    font-size: 18px;
  }
  border-bottom: none;
  background-color: #F4F4F4;
}

.card .tab-content {
  margin-left: 1px;
}